
<%- include ('partials/header') %>
<div class="main" id="main" id="main">
  <h3>User's Posts</h3>
  <div class="genDiv">
    <%userBlog.forEach(function(blog){%>
    <div class="row">
      <div class="col-md-4">
        <img class="postImg" src="<%=blog.image%>" alt="" height="70%" width="100%">
      </div>
      <div class="col-md-8">
        <h4 class="h4"><a href="/user/<%=blog._id%>"><%=blog.title%></a></h4>
        <h6 class="mydate"><%=blog.created.toDateString()%></h6>
        <h6 style="text-align: justify;"><%=blog.body.substring(0, 100)%>...</h6>
        <a class="btnn" href="/user/<%=blog._id%>">Read More <i class="fa fa-arrow-right"></i> </a>
      </div>
    </div>
    <hr>
    <br>
    <%})%>
  </div>
</div>
<%- include ('partials/footer') %>